/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://unpkg.com/angular-tree-component@7.0.1/dist/angular-tree-component.css');
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%
}
$main-color: #F59B2D;
$asset-color: #C1C1C1;

.mat-toolbar.mat-toolbar-single-row {
    background: $asset-color;
    color: #fff;
    height: 80px;
    padding: 28px 20px;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    span {
      margin-right: auto;
    }
    mat-form-field {
      font-size: 1rem;
      margin-top: 20px;
      margin-left: 10px;
    }
    .mat-progress-bar-fill::after {
      background-color: #FFF;
    }
    .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: #FFF ;
    }
    .mat-form-field.mat-focused  .mat-form-field-label {
      color: #FFF;
    }
}
.cdk-global-scrollblock {
      overflow-y: auto;
}
// .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
//   background-color: $main-color;
// }
// .mat-progress-bar-background {
//       fill: lighten($main-color,30%);
// }
// .mat-progress-bar-buffer {
//   background-color:  lighten($main-color,30%);
// }
.mat-progress-bar-fill::after {
  background-color: #42B8CC;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #42B8CC ;
}
// .mat-form-field.mat-focused  .mat-form-field-label {
//   color: $asset-color;
// }
.node-drop-slot {
      height: 0
    }
.main {
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 1.25rem;
    padding: 1.25rem;
    .mat-stroked-button {
        border-color: #CCC;
        font-weight: 400;
        margin-right: 5px;
        .mat-icon {
            font-size: 22px;
        }
    }
    .mat-card {
        width: 100%;
        height: 100%;
        padding: 0;
        .mat-card-header {
            // height: calc(100%);
            padding: 1.25rem;
            height: 55px;
            justify-content: space-between;
            .mat-card-header-text {
                margin: 0;
            }
            .mat-card-title {
                font-size: 1.25rem;
            }
            .mat-card-actions {
                margin: 0;
                display: flex;
                height: 36px;
            }
            .filter {
                margin-top: -10px;
                min-width: 300px;
            }
        }
        .mat-card-content {
            border-top: 1px solid #ccc;
        }
    }
}
app-assettable {
    .mat-card {
        .mat-table {
            width: 100%;
            tbody, thead {
              display: block;
              tr {
                display:table;
                width:100%;
                table-layout:fixed;
                &:hover {
                  background: lighten($main-color,40%);
                }
              }
            }
            tbody {
              height: calc(100vh - 330px);
              overflow-y: auto;
            }
            .selectedRow {
              background: lighten($main-color,35%);
            }
            .mat-column-status {
              width: 77px;
              text-align: center !important;
              padding-right: 100px;
            }
            .mat-sort-header-button {
              text-align: left;
            }
        }
    }
    .mat-progress-bar {
      margin-bottom: -5px;
      z-index: 1;
    }
    mat-button-toggle-group.btn-status {
      box-shadow: none;
      border: 1px solid #42B8CC;
      margin-right: 5px;
      color: inherit;
      font-size: 14px;
      .mat-button-toggle:nth-child(1) .mat-button-toggle-label-content{
        
        border-left: 0;
      }
      .mat-button-toggle-label-content {
        color: rgba(0,0,0,0.87);
        border-left: 1px solid #42B8CC;
        line-height: 36px;
      }
      .mat-button-toggle-checked .mat-button-toggle-label-content{
        background-color: #42B8CC;
        color: #fff;
      }
    }
    .mat-icon.publish{
      color: #42B8CC;
    }
    .mat-icon.unpublish{
      color: #858585;
    }
    .not-active{
      pointer-events: none;
      opacity: 0.5;
    }
}
app-categorytree {
    // flex-grow: 2;
    // width: 200px;
    // margin-right: 1.25rem;
    // overflow: hidden;
    .overlay {
        background: rgba(0, 0, 0, .3);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
    .mat-card-content {
        padding: 1.25rem; // height: calc(100vh - 280px);
        .button-row.gbtn-toolbar {
          display: none;
        }
        .nodeId {
          line-height: 25px;
          padding-right: 5px;
        }
        &.editMode {
          .node-content-wrapper:hover {
            cursor: move;
            input{
              cursor: move;
            }
            .button-row.gbtn-toolbar {
                display: flex;
            }
            .nodeId {
              display: none;
            }
          }
        }
        h4.title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
            font-weight: 400;
            line-height: 40px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        tree-viewport {
            height: calc(100vh - 300px);
            min-height: 50vh;
            .ng-star-inserted {
              height: unset !important;
            }
        }
        tree-node {
            .node-wrapper {
                align-items: center;
                padding: 1px;
            }
            .node-content-wrapper-active.node-content-wrapper-focused {
              background: lighten($main-color,30%);
            }
            .node-content-wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                &:hover{
                  background: lighten($main-color,35%);
                  .button-row.gbtn-toolbar{
                    background: linear-gradient(90deg,rgba(0,0,0,0),lighten($main-color,35%),lighten($main-color,35%),lighten($main-color,35%),lighten($main-color,35%),lighten($main-color,35%),lighten($main-color,35%),lighten($main-color,35%),lighten($main-color,35%),lighten($main-color,35%));
                    padding-left: 15px;
                  }
                }
                input {
                    border: 1px solid transparent;
                    background: none;
                    cursor: pointer;
                    line-height: 19px;
                    text-overflow: ellipsis;
                }
                &.editModeName {
                    z-index: 999;
                    cursor: pointer !important;
                    input {
                        background: #FFF;
                        cursor: text !important;
                        border-color: gray;
                    }
                    .gbtn-toolbar {
                      display: none !important;
                    }
                }
                span.node-title {
                    display: flex;
                    align-items: center;
                    min-height: 25px;
                    i {
                        padding-right: 10px;
                        color: #42B8CC;
                        font-size: 20px;
                    }
                    i.off {
                      color: #858585;
                    }
                }
                .button-row {
                    &.gbtn-toolbar {
                        display: none;
                        position: absolute;
                        right: 0;
                    }
                    mat-icon {
                        font-size: 17px;
                        line-height: 17px;
                        height: 17px;
                        width: 17px;
                    }
                    .mat-icon-button {
                        line-height: 25px;
                        width: 25px;
                        height: 25px;
                        margin-right: 5px;
                        opacity: 0.5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .toggle-children {
            background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"/></svg>');
            height: 20px;
            width: 29px;
        }
        .toggle-children-placeholder {
            padding-right: 20px;
        }
    }
}
app-assetdetail-dialog {
  // hide step buttons on Firefox
input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

// hide step buttons on Chrome/Safari
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
// workaround for Firefox bug where disabled number input with textfield appearance is still clickable
.mat-form-field.mat-form-field-disabled {
    pointer-events: none;
}

// shorten the textbox to make room for step-arrow-wrapper
input[type=number] {
    width: calc(100% - 18px);
}

// shorten the mat-label to make room for step-arrow-wrapper
// (doesn't work inside stackblitz but does work otherwise)
::ng-deep .step-arrow-wrapper + .mat-form-field-label-wrapper {
    width: calc(100% - 18px);
}

// place step-arrow-wrapper to the right of textbox
.step-arrow-wrapper {
    float: right;
    width: 18px;
}
// step arrow style made to match mat-select arrow
.step-up-arrow,
.step-down-arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 0 4px;
    color: rgba(0,0,0,.54);
    // color: $default;
}

.step-up-arrow {
    border-bottom: 5px solid;
    margin-bottom: 5px;
}

.step-down-arrow {
    border-top: 5px solid;
}


  form {
    display: grid;
    font-size: 90%;
    width:900px;
    >
     div {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 1.5rem;
      grid-row-gap: 0.1rem;
      .col2 {
        display: grid;
        align-content: flex-start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
      }
    }
    .mat-icon-button {
      opacity: 0.7;
    }
  }
  .uploadForm {
    input, mat-icon {
      cursor: pointer;
    }
    mat-form-field {
      width: 100%;
    }
    .mat-progress-bar{
      margin-top: -20px;
      margin-bottom: 15px;
    }
    .mat-progress-bar.mat-warn .mat-progress-bar-background, 
    .mat-progress-bar.mat-warn .mat-progress-bar-buffer {
      background-color: lighten($main-color,30%);
    }
    .mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
      background-color: $main-color;
    }
    .success.mat-progress-bar.mat-warn .mat-progress-bar-fill::after{
      background-color: #69BE46;
    }
    &.error .success.mat-progress-bar.mat-warn .mat-progress-bar-fill::after{
      background-color: #f44336;
    }

  }
  .mat-form-field-infix {
    border-top-width: 0.85em;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.15em;
  }
  .two-col {
    grid-column: 1/3;
  }
  .mat-checkbox {
    margin-bottom: 5px;
  }
  .mat-slide-toggle {
    height: 20px;
    padding-bottom: 15px;
    width: fit-content;
  }
  .category-dropdown {
    .mat-select-arrow {
      position: absolute;
      right: 0;
      top: 15px;
    }
    input {
      cursor: pointer;
    }
    .overlay {
      background: transparent;
      width:100%;
      height:100%;
      z-index:1;
      top:0;
      left:0;
      position:fixed;
    }
    tree-root {
      position: absolute;
      display: block;
      background: #fff;
      z-index: 2;
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
                  0 8px 10px 1px rgba(0,0,0,.14),
                  0 3px 14px 2px rgba(0,0,0,.12);
      max-height: 300px;
      min-width: 300px;
      overflow: auto;
      padding: 20px;
      top:0;
        .node-wrapper.hide {
        display: none;
      }
      .tree-node {
        border-left: 1px solid rgba(0,0,0,.1);
      }
      .toggle-children {
          background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"/></svg>');
          height: 20px;
          width: 20px;
          margin-left: -12px;
      }
      .toggle-children-placeholder {
          padding-right: 2px;
          border-bottom: 1px solid rgba(0,0,0,.1);
      }
      .toggle-children-wrapper:before {
          content: '';
          position: absolute;
          border-bottom: 1px solid rgba(0,0,0,.1);
          height: 10px;
          width: 12px;
          // transform: translateY(-50%);

      }
      .node-wrapper {
        padding: 5px;
        // border-left: 1px dotted rgba(0,0,0,.3);
      }
      tree-viewport {
        overflow: visible;
      }
      .node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
        background: lighten($main-color,30%);
      }
      .node-content-wrapper:hover {
        background: lighten($main-color,35%);
      }
    }
  }
  
  .assets {
    label{
      color: rgba(0,0,0,0.54);
    }
    .table {
      display: grid;
      grid-template-columns: 1fr 30px 1fr;
      grid-gap: 2px;
      ul{
        border: 1px solid rgba(0, 0, 0, .3);
        height: 124px;
        margin: 0;
        padding: 0;
        overflow: auto;
        width: 200px;
        li{
          list-style: none;
          padding: 5px 10px;
          cursor: pointer;
          &:hover{
            background: rgba(0, 0, 0, .05);
          }
          &.selectedAsset {
            background: rgba(0, 0, 0, .1);
          }
        }
      }
      .btn-col {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 2px;
        // padding-left: 1px;
        button {
          border: 1px solid rgba(0, 0, 0, .3);
          border-radius: 0;
          height: 30px;
          width: 30px;
          line-height: 28px;
          &.arrow-all .mat-icon:first-child{
            margin-right: -20px;
          }
        }
      }
    }
  }
  
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: $main-color;
}
 @media (max-width: 1350px) {
  
  .labelbtn {
    display: none;
  }
  .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    min-width: unset !important;
  }

}

app-newcampaign-dialog {
  // hide step buttons on Firefox
input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

// hide step buttons on Chrome/Safari
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
// workaround for Firefox bug where disabled number input with textfield appearance is still clickable
.mat-form-field.mat-form-field-disabled {
    pointer-events: none;
}

// shorten the textbox to make room for step-arrow-wrapper
input[type=number] {
    width: calc(100% - 18px);
}

// shorten the mat-label to make room for step-arrow-wrapper
// (doesn't work inside stackblitz but does work otherwise)
::ng-deep .step-arrow-wrapper + .mat-form-field-label-wrapper {
    width: calc(100% - 18px);
}

// place step-arrow-wrapper to the right of textbox
.step-arrow-wrapper {
    float: right;
    width: 18px;
}
// step arrow style made to match mat-select arrow
.step-up-arrow,
.step-down-arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 0 4px;
    color: rgba(0,0,0,.54);
    // color: $default;
}

.step-up-arrow {
    border-bottom: 5px solid;
    margin-bottom: 5px;
}

.step-down-arrow {
    border-top: 5px solid;
}


  form {
    display: grid;
    font-size: 90%;
    width:900px;
    >
     div {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 1.5rem;
      grid-row-gap: 0.1rem;
      .col2 {
        display: grid;
        align-content: flex-start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
      }
    }
    .mat-icon-button {
      opacity: 0.7;
    }
  }
  .uploadForm {
    input, mat-icon {
      cursor: pointer;
    }
    mat-form-field {
      width: 100%;
    }
    .mat-progress-bar{
      margin-top: -20px;
      margin-bottom: 15px;
    }
    .mat-progress-bar.mat-warn .mat-progress-bar-background, 
    .mat-progress-bar.mat-warn .mat-progress-bar-buffer {
      background-color: lighten($main-color,30%);
    }
    .mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
      background-color: $main-color;
    }
    .success.mat-progress-bar.mat-warn .mat-progress-bar-fill::after{
      background-color: #69BE46;
    }
    &.error .success.mat-progress-bar.mat-warn .mat-progress-bar-fill::after{
      background-color: #f44336;
    }

  }
  .mat-form-field-infix {
    border-top-width: 0.85em;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.15em;
  }
  .two-col {
    grid-column: 1/3;
  }
  .mat-checkbox {
    margin-bottom: 5px;
  }
  .mat-slide-toggle {
    height: 20px;
    padding-bottom: 15px;
    width: fit-content;
  }
  .category-dropdown {
    .mat-select-arrow {
      position: absolute;
      right: 0;
      top: 15px;
    }
    input {
      cursor: pointer;
    }
    .overlay {
      background: transparent;
      width:100%;
      height:100%;
      z-index:1;
      top:0;
      left:0;
      position:fixed;
    }
    tree-root {
      position: absolute;
      display: block;
      background: #fff;
      z-index: 2;
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
                  0 8px 10px 1px rgba(0,0,0,.14),
                  0 3px 14px 2px rgba(0,0,0,.12);
      max-height: 300px;
      min-width: 300px;
      overflow: auto;
      padding: 20px;
      top:0;
        .node-wrapper.hide {
        display: none;
      }
      .tree-node {
        border-left: 1px solid rgba(0,0,0,.1);
      }
      .toggle-children {
          background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"/></svg>');
          height: 20px;
          width: 20px;
          margin-left: -12px;
      }
      .toggle-children-placeholder {
          padding-right: 2px;
          border-bottom: 1px solid rgba(0,0,0,.1);
      }
      .toggle-children-wrapper:before {
          content: '';
          position: absolute;
          border-bottom: 1px solid rgba(0,0,0,.1);
          height: 10px;
          width: 12px;
          // transform: translateY(-50%);

      }
      .node-wrapper {
        padding: 5px;
        // border-left: 1px dotted rgba(0,0,0,.3);
      }
      tree-viewport {
        overflow: visible;
      }
      .node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
        background: lighten($main-color,30%);
      }
      .node-content-wrapper:hover {
        background: lighten($main-color,35%);
      }
    }
  }
  
  .assets {
    label{
      color: rgba(0,0,0,0.54);
    }
    .table {
      display: grid;
      grid-template-columns: 1fr 30px 1fr;
      grid-gap: 2px;
      ul{
        border: 1px solid rgba(0, 0, 0, .3);
        height: 124px;
        margin: 0;
        padding: 0;
        overflow: auto;
        width: 200px;
        li{
          list-style: none;
          padding: 5px 10px;
          cursor: pointer;
          &:hover{
            background: rgba(0, 0, 0, .05);
          }
          &.selectedAsset {
            background: rgba(0, 0, 0, .1);
          }
        }
      }
      .btn-col {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 2px;
        // padding-left: 1px;
        button {
          border: 1px solid rgba(0, 0, 0, .3);
          border-radius: 0;
          height: 30px;
          width: 30px;
          line-height: 28px;
          &.arrow-all .mat-icon:first-child{
            margin-right: -20px;
          }
        }
      }
    }
  }
  
}